body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}